/* Inicio del css para la home page  */

/* Estilo del header */
header {
    background-color: rgb(160, 72, 65);
}
/*------------------------------------*/


/* Estilo del btn de redactar */
.btn-abrir-popup {
	background-color: rgb(160, 72, 65);
}
.btn-abrir-popup:hover {
	background-color: rgb(124, 51, 46);
}
    /* Vista de ventana emergente */
.btn-submit {
	background-color: rgb(91, 166, 189);
}
.btn-submit:hover {
    background: rgba(83, 116, 224, 0.9);
}
/*------------------------------------*/


/* Estilo de la lista de contactos */
#contenido_contacts {
    background-color: rgb(128, 61, 56);
}
/*------------------------------------*/


/* Estilo de lista de prev-mensajes en el buzon */
.abrir-mail:hover {
    background-color: rgb(128, 61, 56);
}
/*------------------------------------*/


/* Slider Mini Juego */
.container-avatar img{
    border:6px solid rgb(128, 61, 56);
}
#container-stats a:hover {
    background-color: rgb(101, 101, 102);
}
/*------------------------------------*/
