/* Inicio del css para la home page  */

/* Estilo basico de la pagina */
* {
    margin-bottom:20px;
    margin-bottom:15px;
    margin-bottom:15px;
    margin-bottom:10px;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    color: black;
    overflow: hidden;
}
/*------------------------------------*/


/* Estilo del header */
#logo {
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 70px;
    width: 30%;
}
header h1 {
    position: relative;
    float: left;
    margin-top: 36px;
    text-align: center;
    font-size: 54px;
    width: 30%;
}
#salir {
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 215px;
    width: 3%;
}
header {
    width: 100%;
    height: 160px;
    display: inline-block;
    padding: 30px 40px 0px 40px;
    margin: 0px;
}
/*------------------------------------*/


/* Estilo de barra de navegacion */
nav {
    border-top: 4px solid;
    width: 70%;
    height: 70px;
    display: inline-block;
    position: absolute;
    background-color: rgb(168, 167, 167);
    margin-top: -4px;
}
.nav-animation {
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.nav-animation:hover {
    transform: scale(1.7);
    -webkit-transform: scale(1.7);
    -moz-transform: scale(1.7);
    -ms-transform: scale(1.7);
    -o-transform: scale(1.7);
}
nav ul li {
    float: left;
    list-style-type: none;
    text-align: center;
    width: 25%;
}
/*------------------------------------*/


/* Estilo del btn de redactar */
.btn-abrir-popup {
	padding: 0px 20px;
	height: 40px;
	margin-top: -1px;
	line-height: 40px;
	border: 2px solid black;
	color: black;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	transition: .4s ease all;
	cursor: pointer;
	-webkit-transition: .4s ease all;
	-moz-transition: .4s ease all;
	-ms-transition: .4s ease all;
	-o-transition: .4s ease all;
}
    /* Vista de ventana emergente */
.overlay {
	background: rgba(0, 0, 0, 0.411);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}
.active {
	visibility: visible;
}
.popup {
	background: #f8f8f8;
	box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	padding: 25px;
	text-align: center;
	width: 400px;
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    position: absolute;
}
.btn-cerrar-popup {
    font-size: 26px;
    height: 20px;
    width: 20px;
    line-height: 15px;
    padding-top: 0px;
    margin-top: -5px;
    margin-left: 390px;
    display: block;
    text-align: right;
    transition: .3s ease all;
    color: #202020;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    font-weight: 300;
    text-decoration: none;
}
.btn-cerrar-popup:hover {
	color: rgb(172, 25, 25);
}
.popup h3 {
	font-size: 40px;
	font-weight: 600;
	opacity: 0;
    color: black;
    margin-top: 10px;
}
.contenedor-inputs {
	opacity: 0;
}
.contenedor-inputs input {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 30px;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
    border: 2px solid #6d6c6c;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
#mensaje {
    width: 100%;
    height: 100px; 
}
.btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: black;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}
    /* ANIMACIONES */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }
@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
/*------------------------------------*/


/* Estilo y contenido del main-section */
section {
    width: 70%;
    height: 600px;
    position: static;
    float: left;
    margin-top: 70px;
    border-top: 4px solid;
    background-color: rgb(127, 127, 129);
}
#contenido {
    overflow: scroll;
}
#contenido_bandeja_entrada {
    visibility: visible ;
}
#bienvenida-ms {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.letra-mensaje {
    display: inline-flex;
    color: black;
    font-size: 70px;
    font-weight: 600;
}
.letra-mensaje:nth-child(2), .letra-mensaje:nth-child(3), .letra-mensaje:nth-child(11), .letra-mensaje:nth-child(10), .letra-mensaje:nth-child(6), .letra-mensaje:nth-child(7) {
    animation: gangorra 3s alternate infinite;
    -webkit-animation: gangorra 3s alternate infinite;
}
.letra-mensaje:nth-child(4), .letra-mensaje:nth-child(9), .letra-mensaje:nth-child(8), .letra-mensaje:nth-child(5) {
    animation: gangorra 4s alternate infinite;
    -webkit-animation: gangorra 4s alternate infinite;
}
@keyframes gangorra {
     0% { transform: translateY(0%); }
    50% { transform: translateY(-50%); }
   100% { transform: translateY(50%); }
}
.container {
    margin-left: 55%;
    padding-top: 10px;
}
.container img {
    position: fixed;
    padding-top: 20px;
}
section h2 {
    position: fixed;
    font-size: 30px;
    float: right;
    padding-left: 50px;
}
/*------------------------------------*/


/* Estilo de la lista de contactos */
#contenido_contacts {
    width: 6%;
    margin-left: 0%;
    margin-right: 1%;
    padding-right: 3%;
    padding-top: 15px;
    margin-top: 60px;
    overflow: auto;
    position: fixed;
    float: left;
    height: 42%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.sidebar-contacts {
    padding-left: 10px;
}
.avatar-img {
    height: 100px;
    width: 100px;
    margin-top: -15%;
    margin-left: 16%;
}
.sidebar-contacts-menu {
    position: relative; 
}
.sidebar-contacts-menu ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}   
.sidebar-contacts-menu li {
    transition: opacity 340ms ease, -webkit-transform 340ms;
    transition: transform 340ms, opacity 340ms ease;
    transition: transform 340ms, opacity 340ms ease, -webkit-transform 340ms; 
}    
.sidebar-contacts-menu li a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
    position: relative;
    display: inline-block;
    transition: all 150ms ease;
    height: 100%;
    width: 100%;
}   
.sidebar-contacts-menu li:hover a {
    opacity: 1;
    -webkit-transform: translateX(11px);
    transform: translateX(11px);
    -moz-transform: translateX(11px);
    -ms-transform: translateX(11px);
    -o-transform: translateX(11px);
}
.avatar-contacts img {
    width: 60%;
    float:left;
    position: static;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.user-active {
    width: 8px;
    height: 8px;
    background: #17d1bd;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 60%;
    border: 1px solid #ffffff;
}
.user-inactive {
    width: 8px;
    height: 8px;
    background: #b3b4b6;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 60%;
    border: 1px solid #ffffff;
} 
.user-busy {
    width: 8px;
    height: 8px;
    background: #F95062;
    border-radius: 100%;
    position: absolute;
    top: 20%;
    left: 60%;
    border: 1px solid #ffffff;
}
.user-contacts {
    width: 100%;
    margin-left: 50px;
    padding-top: 5px;
}
.user-name-contacts {
    float:left;
    width: 40%;
    position: static;
    margin-top: 40%;
    padding-left: 10%;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    color: #e4e5e6;
}
.user-designation-contacts {
    font-size: 12px;
    color: #a09c9c;
    width: 100%;
    position: static;
    float: left;
    white-space: nowrap;
    margin-bottom: 0;
    margin-left: -50%;
    margin-top: -10%;
}
/*------------------------------------*/


/* Estilo de lista de prev-mensajes en el buzon */
#contenido_prev_mensajes {
    width: 21%;
    position: static;
    float: left; 
    margin-left: 16%;
    margin-right: 3%;
    height: 100%;
}
.email-list {
    list-style-type: none;
    padding: 0;  
} 
.email-list-item {
    background-color: #dad8d8;
    padding: 8px 20px 8px 20px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.recipient {
    display: flex;
    align-items: center;
    width: 100%;
}
.recipient img {
    width: 20%;
    height: 45px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.recipient-name {
    font-weight: 600;
    font-size: 15px;
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 22px;
    width: 60%;
}
.recipient-name:hover {
    color: #22b9ff;
    text-decoration: underline;
}
.abrir-mail {
    width: 22%;
    margin-top: 20px;
}
.abrir-mail:hover {
    background-color: rgb(91, 166, 189);
}
.recipient-ver {
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
}
.prev-email-subject {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #202325;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.5;
    transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -ms-transition: 0.2s ease all;
    -o-transition: 0.2s ease all;
}
.prev-email-subject:hover {
    color: #22b9ff;
}
.email-footer {
    display: flex;
    justify-content: space-between;
}
.email-action a {
    margin-right: 14px;
}
.fill {
    color: #fd7e14;
}
.fill:hover {
    fill: #fd7e14;
}
.fill-favorite{
    color: #fd7e14;
    fill: #fd7e14;
}
.fill-favorite:hover{
    fill: none;
}
.trash-email img{
    text-decoration: none;
    transition: transform 0.4s;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
}
.trash-email img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
}
.email-action a svg {
    width: 20px;
    height: 20px;
}
.email-time {
    color: #9b9ea1;
}
/*------------------------------------*/


/* Vista completa de los mensajes recibidos */
.contenido_mensaje {
    margin-top: 60px;
    width: 40%;
    position: static;
    float: left;
    background: white;
    overflow: auto;
    position: fixed;
    height: 44%;
    margin-left: 28%;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    visibility: hidden;
}
.email-desc {
    width: 91%;
    background-color: #ffffff;
    padding: 2rem;
}
.email-header {
    margin-bottom: 1.5rem;
}
.email-date {
    color: #727686;
    font-size: 14px;
}
.email-subject {
    color: #394044;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: .8rem;
    flex-shrink: 0;
}
.recipient {
    font-size: 14px;
    color: #727686;
}
.recipient span {
    font-weight: 500;
    color: #394044;
    margin-top: 10px;
}
.email-body {
    color: #727686;
    margin-bottom: 2rem;
    text-align : justify;
}
.email-body p {
    font-size: 13px;
    line-height: 2;
}
.file-size {
    color: #B1BAC5;
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.email-action button{
    margin-right: 8px;
}
/*------------------------------------*/


/* Vista del aside - entretenimiento del usuario */
aside {
    width: 30%;
    position: absolute;
    float: left;
    height: 815px;
    display: inline;
    border-top: 4px solid;
    border-left: 4px solid;
    background-color: rgb(168, 167, 167);
    margin-top: -4px;
}
#slider_items li h3 {
    text-align: center;
    font-size: 32px;
    padding-top: 2%; 
}
#slider_items {
    margin: 0;
    padding: 0;
    margin-top: -32px;
}
#slider_items li {
    width: 100%;
    height: 815px;
    list-style: none;
}
#control-prev, #control-next {
    position: absolute;
    top: 0%;
    padding: 1% 2%;
    background: rgba(45, 45, 46, 0.9);
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    opacity: 0.8;
    cursor: pointer;
}
#control-prev:hover, #control-next:hover {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
#control-next {
    right: 0;
}
#control-prev {
    visibility: hidden;
}
/*------------------------------------*/


/* Slider Mini Juego */
#container-vs {
    display:flex;
    justify-content:space-around;
}
#container-vs p {
    font-family:impact;
    font-size:44px;
    color:#363635;
    margin-top: 90px;
    font-weight: 600;
}
.container-avatar {
    width:160px;
    height:180px;
    text-align:center;
}
.container-avatar img{
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    -ms-border-radius:40px;
    -o-border-radius:40px;
}
.container-avatar a {
    font-family:impact;
    color:rgb(247, 247, 244);
    font-size:20px;
    text-decoration: none;
}
.eleccion-de-personajes {
    display:flex;
    justify-content:space-around;
    margin-top: 7%;
}
#eleccion_1 {
    margin-left: 10px;
}
#eleccion_2 {
    margin-left: 140px;
}
#container-stats {
    display:flex;
    justify-content:space-around;
}
#empezar_guerra {
    font-family:impact;
    font-size:30px;
    color:#2e2d2d;
    margin-top: 160px;
    background-color:rgb(224, 218, 218);
    height:48px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: -8px;
    margin-right: -8px;
    border: rgb(7, 7, 7) solid 2px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-weight: 600;
    visibility: hidden;
}
.stats {
    visibility: hidden;
    width:180px;
    height:400px;
    text-align:center;
    background-color:rgb(218, 213, 213);
    border: black solid 3px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.stats h4 {
    font-size: 24px;
    margin-top: 0px;
}
#especie_user1, #especie_user2 {
    font-weight: 500;
}
.stats h5 {
    font-size: 16px;
    margin-top: -4px;
}
.especie {
    padding-top: 20px;
}
.type_Especie {
    margin-top: -6px;
}
.cuadro1 {
    margin-left: 20px; 
}
.cuadro1, .cuadro2, .cuadro3, .cuadro4 {
    width: 10px;
    height: 10px;
    border: black solid 2px;
    float: left;
    padding-left: 20px;
}
.habilidades_icono {
    float: left;
    margin-left: 19px;
}
/*------------------------------------*/


/* Ventana pop de las habilidades y el VS */
.abrir-popup-habilidades {
	cursor: pointer;
}
    /* Vista de ventana emergente */
.overlay-habilidades {
	position: fixed;
	justify-content: center;
	display: flex;
	visibility: hidden;
    left: 77%;
    top: 52%;
}
.popup-habilidades {
	background: #f8f8f8;
    border: 2px solid black;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 15px;
	width: 300px;
	height: 220px;
}
.cerrar-popup-habilidades {
    line-height: 20px;
    font-size: 26px;
    height: 20px;
    width: 20px;
    margin-top: -5px;
    margin-left: 290px;
    display: block;
    color: #202020;
    transition: .3s ease all;
    -webkit-transition: .3s ease all;
    -moz-transition: .3s ease all;
    -ms-transition: .3s ease all;
    -o-transition: .3s ease all;
    text-decoration: none;
}
.cerrar-popup-habilidades:hover {
	color: rgb(172, 25, 25);
}
.descripcion-habilidad h4 {
    margin-top: -18px;
}
.descripcion-habilidad p {
    text-align: left;
}
.personaje-habilidad {
    float: left;
    width: 50%;
    margin-top: -2px;
}
/*------------------------------------*/


/* Ventana de vs pasajera */
#pagina-inicial-batalla {
    visibility: hidden;   
    background-color: rgb(112, 108, 108);
    margin-top: -815px;
}
#pagina-inicial-batalla h2 {
   font-family: Impact;
   font-size: 70px;
   margin-top: 20px;
   margin-left: 42%;
}
#pagina-inicial-batalla img {
    border: 3px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
#rival_1 {
    margin-left: 5px;
    margin-top: 5px;
}
#rival_2 {
    margin-left: 57%;
    margin-top: 30px;
}
/*------------------------------------*/


/* Mini Juego */
#pagina-principal-batalla {
    visibility: hidden;
    background: url(https://wallpapercave.com/wp/wp3277787.jpg); /*----------------------------------------------------------------------------------*/
    margin-top: -825px;
}
#cerrar-popup-batalla {
    position: absolute;
    top: 0%;
    padding: 1% 2%;
    background: rgba(45, 45, 46, 0.9);
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-weight: 600;
    font-size: 25px;
    opacity: 0.8;
    cursor: pointer;
    right: 0;
}
#cerrar-popup-batalla:hover {
    opacity: 1;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    color: red;
}
.contador-stats {
    width: 160px;
    height: 10px;
    border: solid white 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#vida_jugador_1, #vida_jugador_2 {
    background: rgb(185, 68, 68);
}
#mana_jugador_1, #mana_jugador_2 {
    background: rgb(91, 157, 201);
}
#escudo_jugador_1, #escudo_jugador_2 {
    background: rgb(187, 189, 66);
}
.habilidades-guerra_02, .habilidades-guerra_01 {
    width: 45%; 
}
.icono_left {
    float: left;
    position: relative;
    text-align: left;
}
.porcentaje_right {
    padding-left: 115px;
    color: rgb(233, 231, 231);
}
    /* Rival 1 */
#rival_01 {
    border: solid rgb(19, 19, 19) 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 35px;
    margin-top: 10px;
    float: left;
    position: relative;
}
.icono_habilidad_batlla {
    width: 15%;
    float: left;
    position: relative;
    top: 20%;
    left: 22%;
    margin-right: 10px;
    background-color: rgb(216, 213, 213);
    border: solid rgb(7, 7, 7) 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 4px 4px 4px 4px;
}
#stats-avatar_01 div {
   margin-left: 250px;
   padding-top: 40px;
}
    /* Rival 2 */
#rival_02 {
    border: solid rgb(19, 19, 19) 2px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-right: 30px;
    margin-top: 130px;
    float: right;
    position: relative;
}
.icono_habilidad_batlla2 {
    width: 15%;
    float: left;
    position: relative;
    margin-top: 20px;
    left: 140%;
    margin-right: 10px;
    background-color: rgb(216, 213, 213);
    border: solid rgb(7, 7, 7) 1px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 4px 4px 4px 4px;
}
#stats-avatar_02 div {
    margin-left: 130px;
    padding-top: 40px;
}
#stats-avatar_02 #margin-top-avatar_02 {
    padding-top: 155px;
}
/*------------------------------------*/


/* Slider Musica */
#slider_musica {
    margin: 0;
    padding: 0;
    overflow: scroll;
    visibility: hidden;
    margin-top: -825px;
}
.playlists {
    padding-top: 2%;
    padding-left: 12%;
}
/*------------------------------------*/


/* Vista del footer - creadores */
footer {
    float: left;
    position: static;
    width: 70%;
    height: 310px;
    border-top: 4px solid black;
    margin-top: -10px;
    background-color: rgb(168, 167, 167);
}
footer h3 {
    padding-top: 0px;
    padding-left: 8px;
    margin-top: 0px;
}
footer address{
    font-size: 14px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: -8px;
}
/*------------------------------------*/
